<header class="header">
    <a href="index.html">
        <h1 data-i18n="site-title">UGOKU Lab</h1>
    </a>
    <div class="social-icons">
        <a href="https://twitter.com/UGOKU_Lab" target="_blank" title="Twitter"><i
                class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.youtube.com/@UGOKU_Lab" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="https://github.com/UGOKU-Lab" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    </div>
</header>