body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
    /* max-width: 1200px; /* 幅を制限 */
    margin: 0 auto; /* 水平方向に中央揃え */
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #f0641e;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* パディングを幅計算に含める */
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #f0641e;
    width: 100%; /* フッターも全幅に広げる */
}

.header {
    background-color: #f0641e;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h1 {
    display: inline;
    padding: 0;
    margin: 0;
}

.header a {
    text-decoration: none; /* 下線を消す */
    color: white; /* テキストの色を白に設定 */
    display: inline; /* aタグをインライン要素に設定 */
    /*padding: 20px; /* 既存のヘッダーのパディングに合わせる */
}

/* ソーシャルアイコンのスタイル */
.header .social-icons {
    display: flex;
    align-items: center;
}

.header .social-icons a {
    color: white;
    padding: 0 10px;
    font-size: 24px; /* アイコンのサイズを調整 */
}

.header .social-icons a:hover {
    color: #000000;
}
.project {
    padding: 20px;
    display: table; /* Use display:table for structure */
    width: 100%;
}
.project img {
    display: table-cell;
    vertical-align: middle;
    width: 600px; /* Fixed width, adjust as needed */
    height: auto;
}

.full-width {
    max-width: calc(100% - 40px); /* 親要素の幅から左右の余白分を引く */
    height: auto; /* アスペクト比を保持 */
    display: block; /* 不要な余白を防ぐ */
    padding: 0 20px; /* 左右に20pxの余白を設定 */
}

.project-content h2 {
    color: #333333;
    margin: 0 0 0px 0;
}

.project-content p {
    color: #666666;
}
.project-content a {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #f0641e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-content a:hover {
    background-color: #e2561a;
}

.project-content .project-title {
    display: flex; /* フレックスボックスを使ってアイテムを横に並べる */
    align-items: center; /* アイテムを中央揃え */
    flex-wrap: wrap; /* 必要に応じてアイテムを折り返す */
}

.project-content .doc-button {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 20px; /* 左に余白を追加 */
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.project-content .doc-button:hover {
    background-color: black;
    color: white;
}

.license-section h3 {
    /* 既存のh3スタイルに加えて */
    margin-bottom: 10px; /* h3タグの下の余白を設定 */
}

.license-content a {
    background-color: transparent; /* 背景色を透明に設定 */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    display: inline-block; /* 必要に応じて display を調整 */
}

.license-content {
    display: flex; /* Flexboxを有効にして項目を横並びにする */
    align-items: center; /* 画像とテキストを中央揃えにする */
}

.license-content .license-image {
    margin-right: 10px; /* 画像とテキストの間に余白を追加 */
}

.license-content p {
    margin: 0; /* パラグラフの余白をリセット */
}

.license-badge {
    border-width: 0; /* 枠線を消す */
    width: 100%; /* コンテナに合わせて幅を調整 */
    height: auto; /* 高さを自動で調整し、アスペクト比を維持 */
    max-width: 88px; /* 画像の最大幅を指定 */
}

/* 既存のスタイルをオーバーライドするために、より具体的なセレクタを使用します */
.license-content .license-image,
.license-content .link {
    background-color: transparent; /* 背景色を透明に設定 */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    color: inherit; /* 親要素から色を継承 */
    border: none; /* 枠線を削除 */
}

/* ホバー時のスタイル */
.license-content .license-image:hover,
.license-content .link:hover {
    background-color: transparent; /* 背景色を透明に保つ */
    color: inherit; /* 親要素から色を継承 */
}

/* 一般的なリンクのスタイル */
a.link {
    color: #0000EE; /* 一般的なリンクの色 */
    text-decoration: underline; /* 下線を付ける */
}

a.link:hover {
    color: #FF4500; /* ホバー時の色（任意の色に設定） */
    text-decoration: none; /* ホバー時に下線を消す（必要に応じて） */
}

.components-table {
    width: 100%; /* 表の幅を100%に設定 */
    border-collapse: collapse; /* セルのボーダーを重ねる */
    margin-top: 20px; /* 表の上の余白 */
}

.components-table th,
.components-table td {
    border: 1px solid #cccccc; /* セルのボーダー */
    padding: 8px; /* セル内のパディング */
    text-align: left; /* テキストを左揃え */
}

.components-table th {
    background-color: #f2f2f2; /* ヘッダーセルの背景色 */
    font-weight: bold; /* ヘッダーテキストを太字に */
}

.video {
    display: flex; /* Flexboxを使用して中央寄せを行います */
    justify-content: center; /* 水平方向の中央寄せ */
    align-items: center; /* 垂直方向の中央寄せ（必要な場合） */
    margin: auto; /* 左右のマージンを自動に設定して中央寄せ */
}

.video video {
    max-width: 80%; /* ビデオの最大幅を親要素の幅に合わせます */
    height: auto; /* 高さを自動調整してアスペクト比を維持 */
}

.project video {
    display: table-cell;
    vertical-align: middle;
    width: 500px;   /* 画像と同じ幅 */
    height: auto;
}

.container {
    display: flex; /* Flexboxを有効にする */
    align-items: flex-start; /* 要素を上端で揃える */
    justify-content: space-between; /* 要素間に均等なスペースを設定 */
}

.table-container {
    flex: 2; /* 表が他の要素よりも幅を取るようにする */
    margin-right: 20px; /* 表と画像の間にスペースを設定 */
}

.images-container {
    flex: 3; /* 画像が表よりも広いスペースを取るようにする */
    display: flex; /* Flexboxを有効にして画像を横に並べる */
    justify-content: space-between; /* 画像間に均等なスペースを設定 */
}

.images-container img {
    max-width: calc(50% - 10px); /* 画像がコンテナの半分の幅になるように計算し、間のスペースを考慮する */
    height: auto; /* 画像の高さを自動調整し、アスペクト比を保持する */
    margin: 0 10px; /* 画像の周囲にマージンを設定 */
}


.button:hover {
    background-color: #e2561a; /* ホバー時の背景色を少し暗くする */
}

.project-content {
    display: table-cell;
    vertical-align: middle; 
    padding-left: 20px;
    gap: 10px; /* 各要素間のスペースを設定 */
    align-items: center; /* 垂直方向の中央揃え */
    /*  display: flex; /* Flexboxを有効にして横並びにする */
}

.project-content .buttons-container {
    display: flex; /* ボタンとバッジを横並びにする */
    gap: 10px; /* ボタンとバッジ間のスペース */
    align-items: center; /* 縦方向で中央揃え */
}

.project-content a.play-badge {
    background-color: transparent !important; /* 背景色を完全に透明にする */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    border: none; /* 枠線を削除 */
    display: inline-block; /* 他のボタンと同様のスタイル */
}

.project-content a.play-badge img {
    max-width: 150px; /* バッジの幅を適切に調整 */
    height: auto; /* アスペクト比を維持 */
    display: block; /* 画像のみが表示されるように設定 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px; /* フォントサイズを調整 */
    background-color: #f9f9f9; /* 背景色を設定 */
}
th, td {
    border: 1px solid #ddd; /* 枠線を薄く設定 */
    padding: 12px; /* セル内のパディングを増やす */
    text-align: left; /* テキストを左揃えに */
}
th {
    background-color: #f2f2f2; /* ヘッダーセルの背景色を明るく */
    font-weight: bold; /* 太字にする */
    color: #333; /* テキストの色を調整 */
}
tr:nth-child(even) {
    background-color: #ffffff; /* 偶数行の背景色 */
}
tr:nth-child(odd) {
    background-color: #f9f9f9; /* 奇数行の背景色 */
}
tr:hover {
    background-color: #f1f1f1; /* ホバー時の行の背景色 */
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #f0641e;
}
footer p {
    margin: 0;
}

/* モバイル用 */
@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }
    
    .project img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px;
        display: block;
    }
    
    .project-content {
        padding-left: 0;
    }
    
    .project-content .project-title {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .project-content .doc-button {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .container {
        flex-direction: column;
    }
    
    .images-container {
        flex-direction: column;
    }
    
    .images-container img {
        max-width: 100%;
        margin: 10px 0;
    }
}